extends layout

block content
  .new-post-button
    a(href="/forum/post/new") Create New Post
    
  each post in posts
    a.link-post(href=`/forum/post/${post.id}?page=1`)
      .post-container
        .post-content
          .post-info
            p Date: #{post.formatted_date}
          .post-title
            h2= post.title
          .post-info
            p= post.username
    
  if pageNumber > 1
    a.pagination-button(href=`/forum?page=${pageNumber - 1}`) Previous
  if pageNumber < maxPageNumber
    a.pagination-button(href=`/forum?page=${pageNumber + 1}`) Next

