extends layout

block content

  each post in posts
    a.link-post(href=`/posts/${post.id}?page=1`)
      .post-container
        .post-content
          .post-title
            h2= post.title
          .post-info
            p #{post.username} • #{post.formatted_date} at #{post.time}
          .replies 
            p Replies: #{post.number_of_comments}
  
  - const pagesToShow = 2;
  if pageNumber > 1
    a.pagination-button(href=`/forum?page=${pageNumber - 1}`) Previous
  -for (let i = Math.max(1, pageNumber - pagesToShow); i <= Math.min(pageNumber + pagesToShow, maxPageNumber); i += 1)
    a.pagination-number(href=`/forum?page=${i}`)= i
  if pageNumber < maxPageNumber
    a.pagination-button(href=`/forum?page=${pageNumber + 1}`) Next

