extends layout

block content
  .new-post
    h1 Create New Post
    form(action="/posts/new", method="POST")
      label(for="forumPostTitle") Title:
      input(type="text"
            id="forumPostTitle"
            name="forumPostTitle"
            placeholder="Post Title"
            value=forumPostTitle)
            
      label(for="forumPostComment") Comment:
      textarea(type="text"
               id="forumPostComment"
               name="forumPostComment"
               placeholder="Your comment"
               rows="5") #{forumPostComment}
      button(type="submit") Create Post

  a.back-button(href="/forum?page=1") Back to Forum
