extends layout

block content
  .new-post
    h1 Create New Post
    form(action="/forum/post/new", method="POST")
      label(for="postTitle") Title:
      input(type="text"
            id="postTitle"
            name="postTitle"
            placeholder="Post Title"
            value=postTitle)
            
      label(for="comment") Comment:
      textarea(type="text"
               id="comment"
               name="comment"
               placeholder="Your comment"
               rows="5") #{comment}
      button(type="submit") Create Post

  a.back-button(href="/forum?page=1") Back to Forum
