extends layout

block content
  .post-management-container
    h1 Post Management
    table
      thead
        tr
          th Post Title
          th Post Date
          th Edit Post
          th Delete Post

      tbody
        each post in userPosts
          tr
            td 
              a(href=`/posts/${post.id}?page=1`) #{post.title}
            td #{post.formatted_date} #{post.time}
            td
              form(action=`/posts/${post.id}/edit`, method="GET")
                button(type="submit") Edit
            td
              form.delete(action=`/posts/${post.id}/delete`, method="POST")
                button(type="submit") Delete

  p
    a.post-management-button(href='/forum?page=1') Back to Forum
