extends layout

block content
  h1 #{postTitle}

  each comment in comments
    .comment-container
      p.comment-text= comment.markdown_body
      p.comment-info
        | Posted by #{comment.username} on #{comment.date}
      if comment.user_id === currentUserId
        a.edit-comment-button(href=`/posts/${postId}/comment/${comment.id}/edit?page=${pageNumber}`) Edit Comment

  .pagination-buttons
    a.post-management-button(href='/forum?page=1') Back to Forum
    if pageNumber > 1
      a.pagination-button(href=`/posts/${postId}?page=${pageNumber - 1}`) Previous
    if pageNumber < maxPageNumber
      a.pagination-button(href=`/posts/${postId}?page=${pageNumber + 1}`) Next

  .reply-button-container
    a.reply-button(href=`/posts/${postId}/comment/new?page=${pageNumber}`) Reply
  p
    
