extends layout

block content
  h1 #{forumPostTitle}

  each comment in forumPostComments
    .comment-container
      p.comment-text= comment.markdown_body
      p.comment-info
        | Posted by #{comment.username} • #{comment.formatted_date} at #{comment.time}
      if comment.user_id === currentUserId
        a.edit-comment-button(href=`/posts/${postId}/comment/${comment.id}/edit`) Edit Comment

  - const pagesToShow = 2;
  .pagination-buttons
    a.post-management-button(href='/forum?page=1') Back to Forum
    if pageNumber > 1
      a.pagination-button(href=`/posts/${postId}?page=${pageNumber - 1}`) Previous
    if maxPageNumber > 1
      -for (let i = Math.max(1, pageNumber - pagesToShow); i <= Math.min(pageNumber + pagesToShow, maxPageNumber); i += 1)
        - let className = (i === pageNumber) ? 'current-page' : 'pagination-number';
        a(class=className, href=`/posts/${postId}?page=${pageNumber}`)= i
    if pageNumber < maxPageNumber
      a.pagination-button(href=`/posts/${postId}?page=${pageNumber + 1}`) Next

  .reply-button-container
    a.reply-button(href=`/posts/${postId}/comment/new`) Reply